node_modules
build
coverage
.git
.github
.gitignore
.env
.env.local
*.md
Jenkinsfile
docker-compose*.yml
Dockerfile
.kubernetes
Kubernetes
backend
frontend
.scripts
jest.config.js
sonar-project.properties
